#### Hint on mean-centering and standardizing multiple columns using stack-transform-unstack

In [1]:
import pandas as pd
from dfply import *

In [2]:
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [5,6,7],
                   'C': [8, 11, 14]
                  })
df

   A  B   C
0  1  5   8
1  2  6  11
2  3  7  14

In [3]:
(df
 >> gather("group", "value", columns_from(X.A))
 >> group_by(X.group)
 >> mutate(centered = X.value - X.value.mean(),
           z_score = (X.value - X.value.mean())/X.value.std())
)

  group  value  centered  z_score
0     A      1      -1.0     -1.0
1     A      2       0.0      0.0
2     A      3       1.0      1.0
3     B      5      -1.0     -1.0
4     B      6       0.0      0.0
5     B      7       1.0      1.0
6     C      8      -3.0     -1.0
7     C     11       0.0      0.0
8     C     14       3.0      1.0