## Advanced Applications of Select

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /Users/bn8210wy/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /Users/bn8210wy/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from pyspark) (0.10.9.5)

In [3]:
!pip install toolz

Requirement already satisfied: toolz in /Users/bn8210wy/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (0.11.2)

## Outline

* `select` helper functions
* Basic `filter` format

In [1]:
import pandas as pd
from dfply import *

# Reading a `pandas.Dataframe` into `pyspark` 

Sometimes it is useful to preprocess data in `pandas` before reading the data frame into `pyspark`.  To make this work, use the `more_pyspark.get_spark_types` to get and pass along the `dtypes` defined in `pandas`.

#### Step 1.  Read/preprocess the data in `pandas`

In [2]:
survey_raw = pd.read_csv("./data/health_survey.csv")
survey_raw.columns

Index(['Unnamed: 0', 'F1', 'F5', 'F2', 'F1.1', 'F2.1', 'F6', 'F4', 'F3',
       'F5.1', 'F1.2', 'F2.2', 'F6.1', 'F2.3', 'F4.1', 'F2.4', 'F5.2', 'F2.5',
       'F6.2', 'F1.3', 'F2.6', 'F5.3', 'F4.2', 'F2.7', 'F3.1', 'F2.8', 'F5.4',
       'F3.2', 'F1.4', 'F3.3', 'F1.5', 'F5.5', 'F6.3', 'F1.6', 'F5.6', 'F2.9',
       'F3.4', 'F4.3', 'F2.10', 'F1.7', 'F6.4', 'F4.4', 'F5.7', 'F3.5',
       'F2.11'],
      dtype='object')

In [3]:
fix_name = lambda n: n.lower().replace('.', '_')
survey = (survey_raw >>
           select(~X['Unnamed: 0']) >>
           rename(**{fix_name(n):n for n in survey_raw.columns}) >>
           mutate(id = X.index))
survey.head(2)

,f1,f5,f2,f1_1,f2_1,f6,f4,f3,f5_1,f1_2,...,f3_4,f4_3,f2_10,f1_7,f6_4,f4_4,f5_7,f3_5,f2_11,id
0,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,0
1,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,...,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,1

#### Step 2. Convert the `dtypes` into `spark` types

In [4]:
from toolz import merge
from pyspark.sql.types import IntegerType, StringType, StructType, StructField
from more_pyspark import get_spark_types

spark_type = get_spark_types(survey)
spark_type

StructType([StructField('f1', StringType(), True), StructField('f5', StringType(), True), StructField('f2', StringType(), True), StructField('f1_1', StringType(), True), StructField('f2_1', StringType(), True), StructField('f6', StringType(), True), StructField('f4', StringType(), True), StructField('f3', StringType(), True), StructField('f5_1', StringType(), True), StructField('f1_2', StringType(), True), StructField('f2_2', StringType(), True), StructField('f6_1', StringType(), True), StructField('f2_3', StringType(), True), StructField('f4_1', StringType(), True), StructField('f2_4', StringType(), True), StructField('f5_2', StringType(), True), StructField('f2_5', StringType(), True), StructField('f6_2', StringType(), True), StructField('f1_3', StringType(), True), StructField('f2_6', StringType(), True), StructField('f5_3', StringType(), True), StructField('f4_2', StringType(), True), StructField('f2_7', StringType(), True), StructField('f3_1', StringType(), True), StructField('f2_8', StringType(), True), StructField('f5_4', StringType(), True), StructField('f3_2', StringType(), True), StructField('f1_4', StringType(), True), StructField('f3_3', StringType(), True), StructField('f1_5', StringType(), True), StructField('f5_5', StringType(), True), StructField('f6_3', StringType(), True), StructField('f1_6', StringType(), True), StructField('f5_6', StringType(), True), StructField('f2_9', StringType(), True), StructField('f3_4', StringType(), True), StructField('f4_3', StringType(), True), StructField('f2_10', StringType(), True), StructField('f1_7', StringType(), True), StructField('f6_4', StringType(), True), StructField('f4_4', StringType(), True), StructField('f5_7', StringType(), True), StructField('f3_5', StringType(), True), StructField('f2_11', StringType(), True), StructField('id', IntegerType(), True)])

In [5]:
## Let's make that a bit more readable

from composable.string import replace
from composable import pipeable

str_ = pipeable(str)
print_ = pipeable(print)

spark_type = get_spark_types(survey)
_ = (spark_type 
     >> str_ 
     >> replace('StructField', '\n    StructField')
     >> print_)

StructType([
    StructField('f1', StringType(), True),
    StructField('f5', StringType(), True),
    StructField('f2', StringType(), True),
    StructField('f1_1', StringType(), True),
    StructField('f2_1', StringType(), True),
    StructField('f6', StringType(), True),
    StructField('f4', StringType(), True),
    StructField('f3', StringType(), True),
    StructField('f5_1', StringType(), True),
    StructField('f1_2', StringType(), True),
    StructField('f2_2', StringType(), True),
    StructField('f6_1', StringType(), True),
    StructField('f2_3', StringType(), True),
    StructField('f4_1', StringType(), True),
    StructField('f2_4', StringType(), True),
    StructField('f5_2', StringType(), True),
    StructField('f2_5', StringType(), True),
    StructField('f6_2', StringType(), True),
    StructField('f1_3', StringType(), True),
    StructField('f2_6', StringType(), True),
    StructField('f5_3', StringType(), True),
    StructField('f4_2', StringType(), True),
    StructField('f2_7', StringType(), True),
    StructField('f3_1', StringType(), True),
    StructField('f2_8', StringType(), True),
    StructField('f5_4', StringType(), True),
    StructField('f3_2', StringType(), True),
    StructField('f1_4', StringType(), True),
    StructField('f3_3', StringType(), True),
    StructField('f1_5', StringType(), True),
    StructField('f5_5', StringType(), True),
    StructField('f6_3', StringType(), True),
    StructField('f1_6', StringType(), True),
    StructField('f5_6', StringType(), True),
    StructField('f2_9', StringType(), True),
    StructField('f3_4', StringType(), True),
    StructField('f4_3', StringType(), True),
    StructField('f2_10', StringType(), True),
    StructField('f1_7', StringType(), True),
    StructField('f6_4', StringType(), True),
    StructField('f4_4', StringType(), True),
    StructField('f5_7', StringType(), True),
    StructField('f3_5', StringType(), True),
    StructField('f2_11', StringType(), True),
    StructField('id', IntegerType(), True)])

#### Step 3. Create the `pyspark` data frame

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Ops').getOrCreate()

22/10/31 23:00:58 WARN Utils: Your hostname, nn1448lr222 resolves to a loopback address: 127.0.1.1; using 172.22.172.170 instead (on interface eth0)
22/10/31 23:00:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/31 23:01:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/31 23:01:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [7]:
survey_spark = spark.createDataFrame(survey ,schema=spark_type)
survey_spark

DataFrame[f1: string, f5: string, f2: string, f1_1: string, f2_1: string, f6: string, f4: string, f3: string, f5_1: string, f1_2: string, f2_2: string, f6_1: string, f2_3: string, f4_1: string, f2_4: string, f5_2: string, f2_5: string, f6_2: string, f1_3: string, f2_6: string, f5_3: string, f4_2: string, f2_7: string, f3_1: string, f2_8: string, f5_4: string, f3_2: string, f1_4: string, f3_3: string, f1_5: string, f5_5: string, f6_3: string, f1_6: string, f5_6: string, f2_9: string, f3_4: string, f4_3: string, f2_10: string, f1_7: string, f6_4: string, f4_4: string, f5_7: string, f3_5: string, f2_11: string, id: int]

# `pyspark` helpers from `more_pyspark`

I have created similar `select` helpers for `pyspark` similar to the `dfply` helpers such as `columns_from`.

In [8]:
from more_pyspark import all_but, col_startswith, col_endswith, col_contains, cols_to, cols_from, cols_between, to_pandas

## `pyspark` helper details

* Require the column names
* Two embedded forms
    * `col_startswith('f1',survey_spark.columns)`
    * `survey_spark.columns >>  col_startswith('f1')`
* Or just save first

#### Function call

In [9]:
(survey_spark
   .select(col_startswith('f1',survey_spark.columns))
   .take(2)
) >> to_pandas

22/10/31 23:01:08 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,f1,f1_1,f1_2,f1_3,f1_4,f1_5,f1_6,f1_7
0,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree

#### Embedded pipe

In [10]:
(survey_spark
.select(survey_spark.columns 
        >> col_startswith('f1'))
.take(2)
) >> to_pandas

,f1,f1_1,f1_2,f1_3,f1_4,f1_5,f1_6,f1_7
0,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree

#### Save first

In [11]:

f1_cols = (survey_spark.columns >>  col_startswith('f1'))

(survey_spark
   .select(f1_cols)
   .take(2)
) >> to_pandas

,f1,f1_1,f1_2,f1_3,f1_4,f1_5,f1_6,f1_7
0,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree

#### `all_but`

In [12]:
(survey_spark
.select(survey_spark.columns 
       >> all_but('f1'))
.take(2)
) >> to_pandas

,f5,f2,f1_1,f2_1,f6,f4,f3,f5_1,f1_2,f2_2,...,f3_4,f4_3,f2_10,f1_7,f6_4,f4_4,f5_7,f3_5,f2_11,id
0,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,...,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,0
1,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,...,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,1

#### Composing `all_but`

In [13]:
has_underscore = survey_spark.columns >> col_contains('_')
no_underscore = survey_spark.columns >> all_but(has_underscore)
                 
(survey_spark.
   select(no_underscore).
   take(2)) >> to_pandas

,f1,f5,f2,f6,f4,f3,id
0,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,0
1,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,1

#### Endwith

In [14]:
(survey_spark
   .select((survey_spark.columns 
            >> col_endswith('_2')))
   .take(2)) >> to_pandas

,f1_2,f2_2,f5_2,f6_2,f4_2,f3_2
0,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree

#### Contains

In [15]:
(survey_spark
   .select((survey_spark.columns 
            >> col_contains('6_')))
   .take(2)) >> to_pandas

             f6_1            f6_2               f6_3               f6_4
0  Somewhat Agree  Somewhat Agree  Somewhat Disagree     Somewhat Agree
1  Somewhat Agree  Somewhat Agree  Somewhat Disagree  Somewhat Disagree

#### Columns up to

In [16]:
(survey_spark
   .select((survey_spark.columns 
            >> cols_to('f1_1')))
   .take(2)) >> to_pandas

               f1                 f5              f2            f1_1
0  Somewhat Agree  Somewhat Disagree  Somewhat Agree  Somewhat Agree
1  Somewhat Agree  Somewhat Disagree  Somewhat Agree  Somewhat Agree

#### Columns from

In [17]:
(survey_spark
   .select((survey_spark.columns 
            >> cols_from('f6_4')))
   .take(2)) >> to_pandas

,f6_4,f4_4,f5_7,f3_5,f2_11,id
0,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,0
1,Somewhat Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,1

#### Columns between

In [18]:
(survey_spark
 .select((survey_spark.columns 
          >> cols_between('f1_1', 'f2_2')))
 .take(2)) >> to_pandas

,f1_1,f2_1,f6,f4,f3,f5_1,f1_2,f2_2
0,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree
1,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree

## <font color="red"> Exercise 6.1.1 </font> 

Use the `pyspark` `select` helper functions to create a table that contains all `F2` and `F3` questions.  


**Hint:** `select` helpers return intentions that turn into lists.  Think about how you can combine two lists.

In [39]:
f2_cols = (survey_spark.columns >>  col_contains('f2'))
f3_cols = (survey_spark.columns >>  col_contains('f3'))
f2_n_3 = f2_cols + f3_cols
f2_n_3

['f2',
 'f2_1',
 'f2_2',
 'f2_3',
 'f2_4',
 'f2_5',
 'f2_6',
 'f2_7',
 'f2_8',
 'f2_9',
 'f2_10',
 'f2_11',
 'f3',
 'f3_1',
 'f3_2',
 'f3_3',
 'f3_4',
 'f3_5']

In [40]:
(survey_spark
   .select(f2_n_3)
   .take(2)
) >> to_pandas

,f2,f2_1,f2_2,f2_3,f2_4,f2_5,f2_6,f2_7,f2_8,f2_9,f2_10,f2_11,f3,f3_1,f3_2,f3_3,f3_4,f3_5
0,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree,Somewhat Agree,Somewhat Disagree,Somewhat Agree
1,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Somewhat Agree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Neither Agree nor Disagree,Somewhat Agree,Neither Agree nor Disagree

In [23]:
help(col_contains('f2',survey_spark.columns))

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [26]:
type(f2_cols)

list

In [27]:
f2_cols

['f2',
 'f2_1',
 'f2_2',
 'f2_3',
 'f2_4',
 'f2_5',
 'f2_6',
 'f2_7',
 'f2_8',
 'f2_9',
 'f2_10',
 'f2_11']

In [28]:
dir(f2_cols) #append does not work

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [38]:
f2_n_3 = f2_cols + f3_cols
f2_n_3

['f2',
 'f2_1',
 'f2_2',
 'f2_3',
 'f2_4',
 'f2_5',
 'f2_6',
 'f2_7',
 'f2_8',
 'f2_9',
 'f2_10',
 'f2_11',
 'f3',
 'f3_1',
 'f3_2',
 'f3_3',
 'f3_4',
 'f3_5']